#cataloguePage{
    background-image: url("../../../public/images/GUEST_65c4163a-8400-4a3d-a790-3a9173ba39cd.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh; 
    
};

.seat div:nth-child(1){
    color: red ;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
} 

.seat div{
    color: pink;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif; 
}

.noSeats{
    background-image: url("../../../public/images/wooden-cubes-inscription-unlucky-lucky-260nw-2136158797.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 50vh; 
    max-width: 50%;
    margin-left: 325px; 
}
.noSeats p{
    color: black;
}

